/* Created by Niclas Darville, github.com/ndarville
**
** Project information at http://git.io/3-0xBg */

ul#milestones {
  width: 350px;
  margin: 0 auto;
}
    #milestones li {
      list-style: none;
    }
        ul#milestones li a {
          color: #3792b3;
        }
            ul#milestones li a:visited {
              color: #3792b3;
            }
/***/
* html ul.list li,
* html ul#milestones li a {
  height: 1%;
}

ul#milestones li {
  position: relative;
  margin: 0 0 2px 0;
}
    ul#milestones li:hover span,
    ul#milestones li:hover em {
      background: #ecebe1;
    }

    ul#milestones li a {
      position: relative;
      display: block;
      padding: 7px;
      z-index: 2;
    }
    ul#milestones li a:link {
      font-weight: bold;
      text-decoration: none;
      color: #3792b3;
    }
    ul#milestones li em {
      float: right;
      font-style: normal;
      font-weight: normal;
      color: #9c836e;
    }
    ul#milestones li span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      line-height: 2.55em;
      text-indent: -9999px;
      background: #f3f2e8;
    }​